@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');

:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: 'Rubik', sans-serif;
    --font-serif: 'Cardo', serif;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
}

.page-content {
    margin-top: 100px;
    margin-bottom: 200px;
    display: grid;
    grid-gap: 1rem;
    max-width: 100%;
    font-family: var(--font-sans);
    padding: 3rem;
}

@media (min-width: 600px) {
    .page-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 800px) {
    .page-content {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    height: fit-content;
    position: relative;
    display: flex;
    overflow: hidden;
    padding: 1rem;
    width: 350px;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
    0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1),
    0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
    .card {
        height: 350px;
    }
}

.card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
}

.card:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(
            to bottom,
            hsla(0, 0%, 0%, 0) 0%,
            hsla(0, 0%, 0%, 0.009) 11.7%,
            hsla(0, 0%, 0%, 0.034) 22.1%,
            hsla(0, 0%, 0%, 0.072) 31.2%,
            hsla(0, 0%, 0%, 0.123) 39.4%,
            hsla(0, 0%, 0%, 0.182) 46.6%,
            hsla(0, 0%, 0%, 0.249) 53.1%,
            hsla(0, 0%, 0%, 0.320) 58.9%,
            hsla(0, 0%, 0%, 0.394) 64.3%,
            hsla(0, 0%, 0%, 0.468) 69.3%,
            hsla(0, 0%, 0%, 0.540) 74.1%,
            hsla(0, 0%, 0%, 0.607) 78.8%,
            hsla(0, 0%, 0%, 0.668) 83.6%,
            hsla(0, 0%, 0%, 0.721) 88.7%,
            hsla(0, 0%, 0%, 0.762) 94.1%,
            hsla(0, 0%, 0%, 0.790) 100%
    );
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}

.card:nth-child(1):before {
    background-image: url(https://www.alexadevsrm.org/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fs4t0kmno%2Fproduction%2F6d8bde6deffd43204f2f59b16775761eae5e109f-1080x1080.jpg&w=2048&q=75);
}

.card:nth-child(2):before {
    background-image: url(https://www.alexadevsrm.org/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fs4t0kmno%2Fproduction%2F915b13bac64d9565b1870aff6cc286511e360525-1440x1440.jpg&w=2048&q=75);
}

.card:nth-child(3):before {
    background-image: url(https://www.alexadevsrm.org/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fs4t0kmno%2Fproduction%2F5e53e106e7182190617a72570242c89dde2a4cd1-1080x1080.jpg&w=2048&q=75);
}

.card:nth-child(4):before {
    background-image: url(https://www.alexadevsrm.org/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fs4t0kmno%2Fproduction%2F7ae9078e6f1b078116be59bd24d72b239558db6b-1440x1440.jpg&w=2048&q=75);
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
}

.content > * + * {
    margin-top: 1rem;
}

.title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
}

.copy {
    font-family: var(--font-serif);
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
}

.btn {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
}

.btn:hover {
    background-color: lighten(black, 5%);
}

.btn:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
    .card:after {
        transform: translateY(0);
    }

    .content {
        transform: translateY(calc(100% - 4.5rem));
    }

    .content > *:not(.title) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }

    .card:hover, .card:focus-within {
        align-items: center;
    }

    .card:hover:before, .card:focus-within:before {
        transform: translateY(-4%);
    }

    .card:hover:after, .card:focus-within:after {
        transform: translateY(-50%);
    }

    .card:hover .content, .card:focus-within .content {
        transform: translateY(0);
    }

    .card:hover .content > *:not(.title),
    .card:focus-within .content > *:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
    }

    .card:focus-within:before,
    .card:focus-within:after,
    .card:focus-within .content,
    .card:focus-within .content > *:not(.title) {
        transition-duration: 0s;
    }
}